<footer>
    <div class="content">
        <p>Todos os direitos reservados</p>

        <div class="socialmedia-links">
            <a href="#">
                <img src="../../../assets/img/whats 1.png" alt="Logo do Whatsapp">
            </a>
            <a href="#">
                <img src="../../../assets/img/face 1.png" alt="Logo do Facebook">
            </a>
            <a href="#">
                <img src="../../../assets/img/instag 1.png" alt="Logo do Instagram">
            </a>
        </div>
    </div>
</footer>
